version: '{build}'
environment:
  CC: gcc
install:
- cinst mingw cmake nasm golang
build_script:
- set GOPATH=%APPVEYOR_BUILD_FOLDER%
- set PATH=%PATH%;C:\tools\mingw64\bin;C:\Program Files\NASM;C:\Program Files\CMake\bin;C:\tools\go\bin
- cd %APPVEYOR_BUILD_FOLDER%
- mingw32-make
after_build:
- 7z a jpeg-archive.zip %APPVEYOR_BUILD_FOLDER%\*.exe
- appveyor PushArtifact jpeg-archive.zip
test_script:
- cd %APPVEYOR_BUILD_FOLDER%
- set PATH=%PATH%;C:\tools\mingw64\bin
- mingw32-make test
